# PyTorch with CUDA
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121

# Local LLM dependencies (Unsloth, Transformers, etc.)
unsloth[windows]==2025.8.9; sys_platform == 'win32'
unsloth==2025.8.9; sys_platform != 'win32'

# Core dependencies
transformers==4.55.3
trl==0.21.0
peft==0.17.1
accelerate==1.10.0
bitsandbytes==0.47.0
datasets==3.6.0

# LangChain Application dependencies (RAG, Caching, DB, Web UI)
langchain==0.3.27
langchain-chroma==0.2.5
rank_bm25==0.2.2
langchain-google-genai==2.1.9
pydantic-settings==2.10.1
langgraph==0.6.6
langchain-community==0.3.27
langchain-redis==0.2.3
fastembed==0.7.1
sentence-transformers==5.1.0
langgraph-checkpoint-postgres==2.0.23

# Fastapi
fastapi==0.116.1
fastapi-cors==0.0.6       # Frontend requirement 
sqlmodel==0.0.24
alembic==1.16.5
psycopg[binary]==3.2.9    # For LangGraph checkpointer
asyncpg==0.30.0           # For Alembic/SQLAlchemy
bcrypt==4.3.0
psycopg2-binary==2.9.10